node_modules/*
!node_modules/awilix/
!node_modules/awilix/**
!node_modules/fast-glob/
!node_modules/fast-glob/**
!node_modules/camel-case/
!node_modules/camel-case/**
logs/
*.log
.DS_Store
.env
dist/
build/
coverage/
.vscode/
.idea/
*.iml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache/
.next/
out/